* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#estrella{
    display: flex;
    position: fixed;
    top: 3vh;
    right: 2vw;
    width: 5vw;
    z-index: 999;
    gap: 5px;
    
}
.estrellada {  
   
    width: 20px;
    height: 20px;
    background: yellow;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    animation:  strellas 5s infinite;
}


:root {

    --color-primario: #fef6e4;
    --color-secundario: rgb(94, 64, 15);
    --color-acento-dorado: #D4AF37;
    --color-marron-oscuro: #3E2723;
    --color-marron-claro: #A1887F;
    --color-beige-borde: #EEDCC3;


    --color-header: #efaf48;
    --color-blanco: #ffffff;
    --color-gris-fondo: #e5e7eb;
    --color-gris-tarjeta: #6b7280;
    --color-gris-texto: #6b7280;
    --color-fila-cebra: #f9fafb;


    --color-error: red;
    --color-advertencia: #efaf48;
    --color-mercado-añadido: #FFF9C4;
    --color-mercado-borde: #efaf48;
    --color-ranking-hover: #ecc94bff;

}


body {
    background-image: url('image/FondO.png');
    background-repeat: repeat;
    image-rendering: pixelated;
    height: 100vh;
    width: 100vw;
    font-family: "Eagle Lake", serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


header {
    height: 10vh;
    background-color: var(--color-header);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    z-index: 10;
}

main {
    height: 70vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

footer {
    height: 20vh;
    background-color: var(--color-gris-fondo);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}


.scene {
    display: none;
    width: 100%;
}

.scene.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* animation: bajarScene 0.8s ease-out forwards; */
}


.scene-title {
    position: sticky;
    top: -20px;
    margin: -20px -20px 20px -20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.btn-main {
    background-color: var(--color-marron-oscuro);
    color: var(--color-gris-fondo);
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit;
    font-size: 12px;
    margin-top: 10px;

}

small {
    color: var(--color-error);
    font-size: 10px;
    min-height: 1em;
}

/* ESCENA 1: FORMULARIO Y AVATARES */

#scene-1 {
    gap: 20px;
}

#formulario-jugador {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    background-color: var(--color-gris-fondo);
    padding: 15px;
    border-radius: 10px;
}

.form-campos {
    display: flex;
    flex-direction: column;
}

.form-campos input {
    padding: 5px;
    border: 1px solid var(--color-marron-claro);
    border-radius: 5px;
}

#avatar-selection {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.avatar {
    width: 120px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    border: 3px solid var(--color-beige-borde);
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: var(--color-blanco);
    padding: 5px;
    box-shadow: 0 4px 8px 0;
}

.avatar:hover {
    transform: scale(1.05);
    border-color: var(--color-marron-claro);
}

.avatar.selected {
    border-color: var(--color-acento-dorado);
    box-shadow: 0 0 15px var(--color-acento-dorado);
    transform: translateY(-5px);
}

/* ESCENAS 2 Y 4 */
.tarjetaScene {
    display: flex;
    flex-direction: row;
    background-color: var(--color-gris-fondo);
    padding: 25px;
    border-radius: 15px;
    gap: 40px;
    align-items: center;
}

.statScene {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.avataR {
    width: 120px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    border: 4px solid var(--color-beige-borde);
    background-color: var(--color-blanco);
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.scene-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.stat-box {
    background-color: var(--color-marron-oscuro);
    color: var(--color-acento-dorado);
    border-radius: 8px;
    min-width: 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.stat-box span {
    display: block;
    margin-top: 3px;
    color: var(--color-gris-fondo);
}

/* ESCENA 3: MERCADO */
#market-container {
    display: grid;
    grid-template-columns: repeat(5, minmax(140px, 1fr));
    gap: 15px;
    width: 100%;
    max-height: 40vh;
    overflow-y: auto;
    padding: 10px;
}

.producto-card {
    background-color: var(--color-gris-fondo);
    border: 2px solid var(--color-marron-oscuro);
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 6px;
    cursor: pointer;
}

.producto-card:hover {
    background-color: var(--color-advertencia);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.producto-card.added {
    background-color: var(--color-mercado-añadido);
    border-color: var(--color-mercado-borde);
}

.producto-card img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 10px;
}

.product-title {
    font-size: 15px;
    margin: 5px 0;
}

.product-price {
    font-weight: bold;
    margin: 5px 0;
}

.market-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-mercado {
    background-color: var(--color-marron-oscuro);
    color: var(--color-acento-dorado);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: background 0.3s;
}

/* ESCENAS 5 Y 6: ENEMIGOS Y BATALLA */
#enemies-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    text-align: center;
}

.enemy-card img,
.player-img,
.enemy-img {
    width: 150px;
    height: 230px;
    object-fit: cover;
    border-radius: 10px;
    border: 4px solid var(--color-beige-borde);
    background-color: var(--color-blanco);
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#battle-visual {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    text-align: center;
}

/* ESCENA 8: RANKING */
.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    height: 350px;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

.table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.table th,
.table td {
    padding: 8px;
    text-align: center;
    border: 1px solid var(--color-gris-fondo);
}

.table th {
    background-color: var(--color-marron-oscuro);
    color: var(--color-blanco);
    font-size: 14px;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 2;
}

.table td:nth-child(1),
.table th:nth-child(1) {
    background-color: var(--color-marron-oscuro);
    position: sticky;
    left: 0;
    z-index: 5;
    color: var(--color-blanco);
}

.table th:nth-child(1) {
    z-index: 6;
}

.table td {
    font-size: 14px;
    color: var(--color-gris-texto);
}

.table tr:nth-child(odd) {
    background-color: var(--color-fila-cebra);
}

.table tr:hover {
    background-color: var(--color-ranking-hover);
}

.no-data {
    text-align: center;
    font-size: 14px;
}

/* FOOTER: INVENTARIO */

#inventory-container {
    background-color: var(--color-marron-oscuro);
    display: flex;
    margin: 8px 20%;
    padding: 8px;
    gap: 4px;
    border-radius: 4px;
}

.foo-product {
    background-color: var(--color-beige-borde);
    border: 1px solid black;
    width: 100px;
    border-radius: 10px;
    aspect-ratio: 1 / 1;
    transition: transform 0.6s ease;
}

.foo-product img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.foo-product:hover {
    transform: scale(1.2);
}

/* MONEDERO Y ELEMENTOS FIJOS */
#monedero-contenedor {
    position: fixed;
    bottom: 1vh;
    left: 2vw;
    width: 5vw;
    z-index: 999;
    animation: moverMonedero 1.7s ease-out forwards;
}

#textOculto {
    position: fixed;
    background: #6b7280;
    bottom: -3vh;
    right: 2vw;
    width: 5vw;
    z-index: 999;
    animation: verTexto 1.2s ease-in-out;
}

#textOculto p {
    color: #e5e7eb;
    

}

#textOculto:hover {
    transform: scale(1.2);
    bottom: 1vh;
}

#monedero-contenedor img {
    width: 100%;
}

#monedero-contenedor span {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 1rem;
}

/* ANIMACIONES (KEYFRAMES) */

@keyframes moverMonedero {
    from {
        transform: translateX(-200px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes monedasGanador {
    0% {
        top: -100px;
        transform: rotateY(0deg);
        opacity: 1;
    }

    50% {
        transform: rotateY(360deg);
    }

    100% {
        top: 50vh;
        transform: rotateY(720deg);
        opacity: 0;
    }
}

@keyframes strellas {
    0% {
        
        transform: rotate(80deg);
        
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        
        transform: rotate(720deg);
        
    }
}


@keyframes verTexto {
    from {
        transform: translateY(50vh);
        opacity: 0;
    }

    to {
        transform: translateY(vh);
        opacity: 1;
    }

}

@keyframes irAlaIzquierda {
    from {
        transform: translateX(100vw);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes irAlaDerecha {
    from {
        transform: translateX(-100vw);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Clases de animación */
.moneda {
    position: fixed;
    top: -100px;
    width: 100px;
    height: 100px;
    z-index: 9999;
    pointer-events: none;
    animation: monedasGanador 3s ease-in-out forwards;
}

.moneda:nth-last-child(3) {
    left: 25%;
}

.moneda:nth-last-child(2) {
    left: 50%;
}

.moneda:nth-last-child(1) {
    left: 75%;
}

.entradaIzquierda {
    animation: irAlaIzquierda 0.8s ease-out forwards;
}

.entradaDerecha {
    animation: irAlaDerecha 0.8s ease-out forwards;
}

/* Responsive movil y tablet */

@media (max-width: 768px) {
    .tarjetaScene {
        flex-direction: column;
        padding: 15px;
        gap: 15px;
    }

    .avataR,
    .enemy-card img,
    .player-img,
    .enemy-img {
        width: 100px;
        height: 140px;
    }
}

@media (max-width: 600px) {

    header {
        height: 8vh;
    }

    main.juego-main {
        height: 77vh;
        overflow-y: auto;
        padding: 10px;
    }

    #enemies-container,
    #market-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        justify-items: center;
        overflow-y: auto;
        max-height: 50vh;
    }

    footer {
        height: 15vh;
    }

    .scene.active {
        justify-content: flex-start;
        padding-top: 10px;
        padding-bottom: 30px;
    }

    #formulario-jugador {
        flex-direction: column;
        width: 100%;
        margin-top: 0;
        padding: 15px;
    }

    .avatar {
        width: 90px;
        height: 130px;
    }

    #avatar-selection {
        gap: 10px;
    }

    .scene-title,
    h2 {
        font-size: 18px;
        text-align: center;
    }

    .btn-main {
        width: 90%;
        padding: 15px;
        font-size: 14px;
        margin-top: 20px;
    }

    .foo-product {
        width: 35px;
        height: 35px;
    }

    #monedero-contenedor {
        width: 90px;
        bottom: 5px;
    }
}